@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");
.header {
  background: #014E56;
  height: 789px;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 73px;
}
.header__list {
  display: flex;
  gap: 40px;
  margin-right: 450px;
}
.header__link {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.header__link:active {
  color: #F67E7E;
}
.header__btn {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  border-radius: 24px;
  border: 2px solid #FFFFFF;
  padding: 10px 33px;
}
.header__btn:active {
  background-color: #FFFFFF;
  color: black;
}
.header .contact__title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
  padding-top: 120px;
}
.header .contact__text {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  padding-bottom: 32px;
}
.header .contact__item_block {
  display: flex;
  align-items: center;
  gap: 23px;
}
.header .contact__item_text {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.header .contact__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .input1 {
  display: block;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  border: none;
  padding-bottom: 16px;
  width: 540px;
  height: 1px;
  padding-top: 16px;
  padding-left: 14px;
  background: #014E56;
  border: none;
}
.header .input1:hover {
  color: black;
  background-color: #F67E7E;
}
.header .input2 {
  display: block;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  width: 540px;
  height: 1px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 14px;
  background: #014E56;
  border: none;
}
.header .input2:hover {
  color: black;
  background-color: #F67E7E;
}
.header .input3 {
  display: block;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  width: 540px;
  height: 1px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 14px;
  background: #014E56;
  border: none;
}
.header .input3:hover {
  color: black;
  background-color: #F67E7E;
}
.header .input4 {
  display: block;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  padding-top: 24px;
  padding-bottom: 17px;
  padding-left: 14px;
  width: 540px;
  height: 1px;
  background: #014E56;
  border: none;
}
.header .input4:hover {
  color: black;
  background-color: #F67E7E;
}
.header .input5 {
  display: block;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  padding-top: 24px;
  padding-bottom: 58px;
  padding-left: 14px;
  width: 540px;
  height: 1px;
  background: #014E56;
  border: none;
}
.header .input5:hover {
  color: black;
  background-color: #F67E7E;
}
.header .input__span {
  width: 540px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-top: 15px;
}
.header .btn {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  padding: 10px 32px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}
.header .input__block {
  margin-top: 120px;
}
.header .contact__position_img {
  position: absolute;
  left: 0;
  top: 245px;
}
.header .contact__position_imgg {
  position: absolute;
  right: 0;
  top: 563px;
}

.footer {
  background-color: #002529;
  height: 196px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 46px;
}
.footer__list {
  display: flex;
  gap: 40px;
  padding-top: 25px;
}
.footer__left_link {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.footer__left_link:active {
  color: #F67E7E;
}
.footer__center_list_link {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer__icon_img {
  margin-left: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/*# sourceMappingURL=contact.css.map */
